In [1]:
# Import libraries
import os
import glob
import pandas as pd
import geopandas as gpd

In [2]:
root_folder = "D:\\CIAT\\Code\\BID\\dci_fauno"
data_folder = os.path.join(root_folder, "data","risk_calculator")
inputs = os.path.join(data_folder,"inputs")
outputs = os.path.join(data_folder,"outputs")
conf_folder = os.path.join(data_folder,"conf")

years = [2017,2018]
columns_rm = ["NOMBRE_OFICINA","ESTADO","NUMERO_GUIA","TIPO_ORIGEN","NOMBRE_DESTINO"]

In [3]:
f_raw = os.path.join(inputs,"mob", "raw", "mobilization.csv")

df_raw = pd.read_csv(f_raw, encoding = "ISO-8859-1")
print(df_raw.head())

d:\ciat\virtualenv\jupyter\lib\site-packages\IPython\core\interactiveshell.py:3155: DtypeWarning: Columns (3,4,5,6,7,8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

      AÑO  MES  DIA DEPARTAMENTO_ORIGEN MUNICIPIO_ORIGEN VEREDA_ORIGEN  \
0  2017.0  1.0  1.0           SANTANDER         COROMORO  PUEBLO VIEJO
1  2017.0  1.0  1.0           SANTANDER         COROMORO       LA MINA
2  2017.0  1.0  2.0             GUAINÍA          INÍRIDA       EL COCO
3  2017.0  1.0  2.0             GUAINÍA          INÍRIDA       EL COCO
4  2017.0  1.0  2.0             GUAINÍA          INÍRIDA       EL COCO

  DEPARTAMENTO_DESTINO MUNICIPIO_DESTINO VEREDA_DESTINO  \
0            SANTANDER           CHARALÁ      ESPERANZA
1            ANTIOQUIA          RIONEGRO      TABLACITO
2              GUAINÍA           INÍRIDA       SAN LOPE
3              GUAINÍA           INÍRIDA       SAN LOPE
4              GUAINÍA           INÍRIDA       SAN LOPE

             TIPO_DESTINO  ... OVINO HEMBRA MAYORES DE 6 MES  \
0  CONCENTRACIÓN GANADERA  ...                           NaN
1                  PREDIO  ...                           NaN
2     PLANTA DE BENEFICIO  ...                           NaN
3     PLANTA DE BENEFICIO  ...                           NaN
4     PLANTA DE BENEFICIO  ...                           NaN

   CAPRINO HEMBRA MENOR DE 6 MES  CAPRINO HEMBRA MAYOR DE 6 MES  \
0                            NaN                            NaN
1                            NaN                            NaN
2                            NaN                            NaN
3                            NaN                            NaN
4                            NaN                            NaN

   CAPRINO MACHO MENOR DE 6 MESE  CAPRINO MACHO MAYOR DE 6 MESE  \
0                            NaN                            NaN
1                            NaN                            NaN
2                            NaN                            NaN
3                            NaN                            NaN
4                            NaN                            NaN

   GALLINAS VIVAS  OTROS  LLAMAS  ALPACAS  AVESTRUCES
0             NaN    NaN     NaN      NaN         NaN
1             NaN    NaN     NaN      NaN         NaN
2             NaN    NaN     NaN      NaN         NaN
3             NaN    NaN     NaN      NaN         NaN
4             NaN    NaN     NaN      NaN         NaN

[5 rows x 61 columns]

In [4]:
# Creating a SIT field for origin
df_raw["ID_ORIGEN"] = df_raw["DEPARTAMENTO_ORIGEN"] + "_" + df_raw["MUNICIPIO_ORIGEN"] + "_" + df_raw["VEREDA_ORIGEN"]
df_raw["ID_DESTINO"] = df_raw["DEPARTAMENTO_DESTINO"] + "_" + df_raw["MUNICIPIO_DESTINO"] + "_" + df_raw["VEREDA_DESTINO"]

In [5]:
f_plots = os.path.join(inputs,"plot", "fixed", "plots", "plots.shp")
gdf_p = gpd.read_file(f_plots)
print(gdf_p.head())

    ext_id       lat        lon  animals  year      adm1  \
0   400165  5.282530 -71.963700     7470  2019  CASANARE
1   400292  5.342888 -71.967508     6673  2019  CASANARE
2  1189289  5.220117 -71.931157     1398  2019  CASANARE
3  1475236  5.288035 -71.963668     1115  2019  CASANARE
4  1259268  5.229343 -71.942858      676  2019  CASANARE

                   adm2       adm3  animals_ma  index_righ adm1_id adm1_name  \
0  SAN LUIS DE PALENQUE  ALGODONAL        7470        4243      85  CASANARE
1  SAN LUIS DE PALENQUE   JAGUEYES        6673        4243      85  CASANARE
2  SAN LUIS DE PALENQUE   JAGUEYES        1398        4243      85  CASANARE
3  SAN LUIS DE PALENQUE   JAGUEYES        1115        4243      85  CASANARE
4  SAN LUIS DE PALENQUE   JAGUEYES         676        4243      85  CASANARE

  adm2_id             adm2_name   adm3_id     adm3_name          area  \
0   85325  SAN LUIS DE PALENQUE  85325035  LOS JAGUEYES  46475.280446
1   85325  SAN LUIS DE PALENQUE  85325035  LOS JAGUEYES  46475.280446
2   85325  SAN LUIS DE PALENQUE  85325035  LOS JAGUEYES  46475.280446
3   85325  SAN LUIS DE PALENQUE  85325035  LOS JAGUEYES  46475.280446
4   85325  SAN LUIS DE PALENQUE  85325035  LOS JAGUEYES  46475.280446

                          geometry
0  POINT (1234367.895 1076294.221)
1  POINT (1233922.710 1082971.885)
2  POINT (1238001.442 1069399.934)
3  POINT (1234369.374 1076903.407)
4  POINT (1236699.896 1070416.464)

In [6]:
gdf_p["ID_SITIO"] = gdf_p["adm1_name"] + "_" + gdf_p["adm2_name"] + "_" + gdf_p["adm3_name"]
gdf_p.head()

,ext_id,lat,lon,animals,year,adm1,adm2,adm3,animals_ma,index_righ,adm1_id,adm1_name,adm2_id,adm2_name,adm3_id,adm3_name,area,geometry,ID_SITIO
0,400165,5.282530,-71.963700,7470,2019,CASANARE,SAN LUIS DE PALENQUE,ALGODONAL,7470,4243,85,CASANARE,85325,SAN LUIS DE PALENQUE,85325035,LOS JAGUEYES,46475.280446,POINT (1234367.895 1076294.221),CASANARE_SAN LUIS DE PALENQUE_LOS JAGUEYES
1,400292,5.342888,-71.967508,6673,2019,CASANARE,SAN LUIS DE PALENQUE,JAGUEYES,6673,4243,85,CASANARE,85325,SAN LUIS DE PALENQUE,85325035,LOS JAGUEYES,46475.280446,POINT (1233922.710 1082971.885),CASANARE_SAN LUIS DE PALENQUE_LOS JAGUEYES
2,1189289,5.220117,-71.931157,1398,2019,CASANARE,SAN LUIS DE PALENQUE,JAGUEYES,1398,4243,85,CASANARE,85325,SAN LUIS DE PALENQUE,85325035,LOS JAGUEYES,46475.280446,POINT (1238001.442 1069399.934),CASANARE_SAN LUIS DE PALENQUE_LOS JAGUEYES
3,1475236,5.288035,-71.963668,1115,2019,CASANARE,SAN LUIS DE PALENQUE,JAGUEYES,1115,4243,85,CASANARE,85325,SAN LUIS DE PALENQUE,85325035,LOS JAGUEYES,46475.280446,POINT (1234369.374 1076903.407),CASANARE_SAN LUIS DE PALENQUE_LOS JAGUEYES
4,1259268,5.229343,-71.942858,676,2019,CASANARE,SAN LUIS DE PALENQUE,JAGUEYES,676,4243,85,CASANARE,85325,SAN LUIS DE PALENQUE,85325035,LOS JAGUEYES,46475.280446,POINT (1236699.896 1070416.464),CASANARE_SAN LUIS DE PALENQUE_LOS JAGUEYES

In [8]:
for y in [2017.0, 2018.0]:    
    df_y = df_raw[df_raw["AÑO"] == y]
    print("Original: " + str(df_raw.shape[0]) + " Nuevo: " + str(df_y.shape[0]))
    
    df_new = pd.merge(df_y, gdf_p[["ext_id","ID_SITIO"]], left_on="ID_ORIGEN", right_on='ID_SITIO', how='left')    
    print("Join origen: " + str(df_new.shape[0]))
    
    df_new = df_new.sample(n = int(df_new.shape[0]*0.3))
    print("Muestra: " + str(df_new.shape[0]))
    
    df_new = df_new.rename(columns={"ext_id":"SIT_ORIGEN"})    
    df_new = df_new[df_new["SIT_ORIGEN"].notnull()]
    df_new = df_new.drop(['ID_SITIO'], axis=1)
    print("Filtrado not nulls: " + str(df_new.shape[0]))
    
    df_new = pd.merge(df_new, gdf_p[["ext_id","ID_SITIO"]], left_on="ID_DESTINO", right_on='ID_SITIO', how='left')
    print("Join destino: " + str(df_new.shape[0]))
    
    df_new = df_new.sample(n = int(df_new.shape[0]*0.2))
    print("Muestra: " + str(df_new.shape[0]))
    
    df_new = df_new.rename(columns={"ext_id":"SIT_DESTINO"})    
    df_new = df_new[df_new["SIT_DESTINO"].notnull()]
    df_new = df_new.drop(['ID_SITIO'], axis=1)
    print("Filtrado not nulls: " + str(df_new.shape[0]))
    
    print("Guardando")
    df_new.to_csv(os.path.join(inputs,"mob", "raw", str(y) + ".csv"), index = False, encoding = "ISO-8859-1")

Original: 4661357 Nuevo: 1560011
Join origen: 8617271
Muestra: 2585181
Filtrado not nulls: 2217552
Join destino: 13483550
Muestra: 2696710
Filtrado not nulls: 2327127
Guardando
Original: 4661357 Nuevo: 1804887
Join origen: 10009323
Muestra: 3002796
Filtrado not nulls: 2578638
Join destino: 17506345
Muestra: 3501269
Filtrado not nulls: 3081799
Guardando

In [9]:
print(df_new.head())

             AÑO   MES   DIA DEPARTAMENTO_ORIGEN MUNICIPIO_ORIGEN  \
14034985  2018.0   8.0   3.0              ARAUCA        ARAUQUITA
3503756   2018.0   6.0   1.0           ANTIOQUIA            BELLO
9240759   2018.0   7.0  17.0               CESAR       VALLEDUPAR
14475585  2018.0  10.0  25.0           SANTANDER      PIEDECUESTA
14348347  2018.0   6.0  18.0               CESAR        SAN DIEGO

              VEREDA_ORIGEN DEPARTAMENTO_DESTINO          MUNICIPIO_DESTINO  \
14034985           EL OASIS               ARAUCA                  ARAUQUITA
3503756            LA UNION            ANTIOQUIA  SAN PEDRO DE LOS MILAGROS
9240759   VALENCIA DE JESUS                CESAR                 VALLEDUPAR
14475585         GUATIGUARA            SANTANDER                PIEDECUESTA
14348347       LOS BRASILES                CESAR                 VALLEDUPAR

         VEREDA_DESTINO TIPO_DESTINO  ... CAPRINO MACHO MAYOR DE 6 MESE  \
14034985       EL OASIS       PREDIO  ...                           NaN
3503756   SANTA BARBARA       PREDIO  ...                           NaN
9240759   AGUAS BLANCAS       PREDIO  ...                           NaN
14475585        LA MATA       PREDIO  ...                           NaN
14348347       RIO SECO       PREDIO  ...                           NaN

          GALLINAS VIVAS  OTROS  LLAMAS  ALPACAS  AVESTRUCES  \
14034985             NaN    NaN     NaN      NaN         NaN
3503756              NaN    NaN     NaN      NaN         NaN
9240759              NaN    NaN     NaN      NaN         NaN
14475585             NaN    NaN     NaN      NaN         NaN
14348347             NaN    NaN     NaN      NaN         NaN

                                   ID_ORIGEN  \
14034985           ARAUCA_ARAUQUITA_EL OASIS
3503756             ANTIOQUIA_BELLO_LA UNION
9240759   CESAR_VALLEDUPAR_VALENCIA DE JESUS
14475585    SANTANDER_PIEDECUESTA_GUATIGUARA
14348347        CESAR_SAN DIEGO_LOS BRASILES

                                                 ID_DESTINO  SIT_ORIGEN  \
14034985                          ARAUCA_ARAUQUITA_EL OASIS     1512310
3503756   ANTIOQUIA_SAN PEDRO DE LOS MILAGROS_SANTA BARBARA      231808
9240759                      CESAR_VALLEDUPAR_AGUAS BLANCAS      391789
14475585                      SANTANDER_PIEDECUESTA_LA MATA       64974
14348347                          CESAR_VALLEDUPAR_RIO SECO      487103

          SIT_DESTINO
14034985        40302
3503756       1432249
9240759        391307
14475585        65072
14348347       392163

[5 rows x 65 columns]